/* Corpo pagina bloccato centrale
*/

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* Colore sfondo parte inziale cv
*/
#section1 {
    background-color: rgb(237, 237, 237);
    
}

/* Img bloccata in parte centrale pagina
*/
.imgprofile {
    max-width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Testo "Web Developer" bloccato centrale
*/
.palpinco {
    text-align: center;
}

/* Linea divisoria in color oro
*/
hr {
        height: 2px;
        background-color: rgb(207, 138, 4);
        border: none;
}

h2 {
    color: rgb(207, 138, 4);
}

/* Cambiato font h3
*/
h3 {
    font-family: 'Sansita Swashed', cursive;
}

/* Piè di pagina centrato
*/
#made {
    text-align: center;
}
